@font-face {
  font-family: 'Morgenwalsh';
  src: url('../src/fonts/morgenwalsh/Morgenwalsh.eot'); /* IE9 Compat Modes */
  src: url('../src/fonts/morgenwalsh/Morgenwalsh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/morgenwalsh/Morgenwalsh.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/morgenwalsh/Morgenwalsh.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Ancient';
  src: 
      url('../src/fonts/ancient-geek/geek.woff') format('woff'), /* Modern Browsers */
      url('../src/fonts/ancient-geek/geek.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
